body{
    margin:0;
  }
  a {
    color:black;
  }
  h1 {
    font-size:45px;
    text-align: center;
    margin:0;
    padding:20px;
  }
  ol{
    border-right:1px solid gray;
    width:100px;
    margin:0;
    padding:20px;
  }
  #grid{
    display: grid;
    grid-template-columns: 150px 1fr;
  }
  #grid ol{
    padding-left:33px;
    white-space: nowrap; /* 줄바꿈 방지 */
  }
  #grid #article{
    padding-left:25px;
  }
  #login_button, #sign_up, #logout_button{
    width: 100%;
    height: 33px;
    margin: 10px 0 5px 0;
    color: white;
    border-radius: 5px;
    border-style: none;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
  }
  #login_button {
    background-color: #C0DFFD;
  }
  #sign_up {
    background-color: #dadee1;
  }
  #logout_button {
    background-color: #ffffff;
    border-style: none;
    color: rgb(132, 132, 132);
    text-align: right;
    padding: 0;
  margin: 0;
  }

.find {
  text-align: right;
  font-size: 8px;
  color: black; /* 텍스트 색상을 검정으로 설정 */
}
.find a {
  color: black; /* 링크 색상도 검정으로 설정 */
}

#welcomeMessage {
  border-bottom:1px solid gray;
  text-align: right;
  font-size: 14px;
  font-weight: bold;
  line-height: 1; 
  padding: 0;
  margin: 0;
}

#last {
  border-bottom:1px solid gray;
  padding: 0;
  margin: 0;
}

/* 메뉴 스타일 */
#menu {
  font:bold 16px "malgun gothic";
  width:100%;
  height:50px;
  background: #ccc;
  color:black;
  line-height: 50px; 
  margin:0 auto;
  text-align: center;
  display: block; /* Flexbox로 메뉴 항목 정렬 */
  white-space: nowrap; /* 메뉴 항목이 줄바꿈되지 않도록 설정 */
  position: relative;
}

#menu ul {
  display: flex; /* Flexbox로 메뉴 항목 정렬 */
  padding: 0;
  margin: 0;
  list-style: none;
}

#menu > ul > li {
	width:120px;
	position:relative;
  list-style: none;
}

#menu > ul > li > ul {
  width: 130px;
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  font-size: 14px;
  background: skyblue;
  padding: 0;
  margin: 0;
  list-style: none;
  z-index: 1000;
}

#menu > ul > li:hover > ul {
  display:block;
}

#menu > ul > li > ul > li {
  padding: 10px;
  transition: background 0.3s ease;
}

#menu > ul > li > ul > li:hover {
  background: orange;
}
  
  /* @media(max-width:800px){
    #grid{
      display: block;
    }
    ol{
      border-right:none;
    }
    h1 {
      border-bottom:none;
    }
  } */